<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(a,i) in arr" :key="i">
                {{i}}------{{a}}
            </li>
        </ul>
        <ul>
            <li v-for="(item,index) in obj" :key="index">
                {{item.name}}===={{item.age}}------{{index}}
            </li>
        </ul>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                arr:['a','b','c'],
                obj:[
                    {name:'sundelong',age:18},{name:'sundelong',age:18},{name:'sundelong',age:18},{name:'sundelong',age:18}
                ]
            },
            methods:{
                getHandler(){
                    this.bool=!this.bool;
                }
            }
        })
    </script>
</body>
</html>